<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VentaDeCasas</title>
    <!-- BOOTSTRAP CDN -->
    <link  rel="icon"   href="https://cdn.pixabay.com/photo/2015/12/28/02/58/home-1110868_960_720.png" type="image/png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body background="https://www.solofondos.com/wp-content/uploads/2018/03/873385d2a6dd10850b68ab2bea04f6e0.jpg">

    <header>
	
     	<div class="overlay">
			<div class="row">
				<div class="col-6">
					<h1>Hogar Dulce Hogar.</h1>
					<h3>Encuentra la casa de tus sueños</h3>
					<p><h5>El hecho de poder vivir en una casa y en un entorno que realmente satisfaga nuestras necesidades, es sin duda una forma fantástica de mejorar nuestra calidad de vida. Por ello, comprar un hogar debe ser una tarea a la que debemos dedicar el tiempo que sea necesario hasta estar convencidos de que estamos frente a lo que realmente buscamos.</h5></p>
						<br>
					<button>MAS INFO.</button>
				</div>
				<div class="col-6">
					<div class="img-content">
						<img src="https://www.vippng.com/png/full/78-787603_casas-e-partes-de-castelos-.png" alt="" />
					</div>
				</div>
			</div>
		</div>
    </header>

    <style>
*{padding: 0; margin: 0; box-sizing: border-box;}
body{height: 900px;}
header {
	background: url('https://images.pexels.com/photos/7283/garden.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 90% 90% / 25%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #2c0c4169 10%, #572b136b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 30px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 30px;
}

button {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
}
button:hover{
	cursor: pointer;
}
.img-content img {
    max-width: 170%;
    padding-right: 185px;
    animation: up-move 1s ease-in;
  }
.img-content img:hover {
    filter: grayscale(60%);
    transform: scale(1.1);
  }

    </style>

    <br><br><br>





